body{
 background-color:aqua;
 background-color: #E8C39E;;
    
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

        div{

            h1{
                background: rgb(84,88,47);
        background: linear-gradient(90deg, rgba(84,88,47,1) 0%, rgba(111,111,111,1) 50%, rgba(84,88,47,1) 100%);
        text-align: center;
        color: white;
                
    
            }
        }
    
   
}
   
    