main{
    background-color: #c7b69f;
    




    section{
        display: flex;
        justify-content: center;
        align-items: center;

            .img-responsive {
                max-width: 100%;
                height: auto;
        
              }
    }

    div {

        img{
            
            flex-wrap: wrap; 
            justify-content: center;
            align-items: center;
        }
    }
}


