footer {
  padding-top: 30px;
  padding-inline-start: 30px;
  background-image: linear-gradient(to right, gray, black);
}
footer img {
  margin-inline: 25px;
  margin-bottom: 25px;
  width: 50px;
}
footer p {
  color: whitesmoke;
  margin-top: 15px;
}
footer a {
  color: #fff9e1;
  text-decoration: none;
  justify-content: center;
  transition: 1s;
}
footer a:hover {
  color: #907761;
  font-size: 25px;
}

body {
  background-color: aqua;
  background-color: #E8C39E;
}
body p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body div h1 {
  background: rgb(84, 88, 47);
  background: linear-gradient(90deg, rgb(84, 88, 47) 0%, rgb(111, 111, 111) 50%, rgb(84, 88, 47) 100%);
  text-align: center;
  color: white;
}

main {
  background-color: #c7b69f;
}
main div p {
  padding-top: 15px;
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div img {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
}
section iframe {
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

img {
  margin-inline-start: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

video {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}

header h1 {
  background: rgb(84, 88, 47);
  background: linear-gradient(90deg, rgb(84, 88, 47) 0%, rgb(111, 111, 111) 50%, rgb(84, 88, 47) 100%);
  text-align: center;
  color: white;
}